.project
.pydevproject
.python-version
.coverage
.idea
.idea.vagrant
*.pyc
*~
*.pyo
db.sqlite3
__pycache__
/virtual
build
data
/static
*.iml
.Python
/build
/develop-eggs
/dist
/downloads
/eggs
/sdist
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
# Sphinx documentation
/docs/_build/
/target/
/wheelhouse*
/celerybeat-schedule
*#